*{
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    color: #fff;
    background: none;
}


.area-util{
    background: rgb(138, 138, 138);
    padding: 50px;
    margin: 30px;
    align-items: center;
}

a{
    text-decoration: none;
    background: none;
    color: rgb(99, 79, 99);
}

a:hover{
    color: rgb(80, 37, 80);
}

nav{
    background: none;
}