*{
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    color: #fff;
    background: none;
}

form{
    display: flexbox;
    background: none;
    margin-left: 100px;
}

input{
    background: #fff;
    border: 1px solid #ccc;
    display: flex;
    padding: 8px;
    margin: 3px 0px;
}

input:focus {
 border:none;
 box-shadow: none;
 outline: 0;
 border: 2px solid rgb(80, 37, 80);
}

label{
    background: none;
    font-weight: bold;
    
}

a{
    text-decoration: none;
    background: none;
    color: rgb(99, 79, 99);
}

a:hover{
    color: rgb(80, 37, 80);
}

.area-util{
    background: rgb(138, 138, 138);
    padding: 50px;
    margin: 30px;
    align-items: center;
}

.botao{
    background: rgb(99, 79, 99);
    border: none;
    border-radius: 3px;
    width: 150px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-indent: 35px;
}

.botao:hover{
    background: rgb(80, 37, 80);
    color: #fff;
    cursor: pointer;
}

table{
    tab-size: 50px;
    color: rgb(80, 37, 80);
    align-items: right;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    background: rgb(138, 138, 138);
    display:flex;
    justify-content: flex-end;
}
